@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap&Patrick+Hand+SC&display=swap');

.card {
  margin-left: 20px;
}

h3 {
  padding: 15px 20px;
}

.logo {
  height: 88px;
  width: 188px;
}

#link {
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  font-family: 'Patrick Hand SC', cursive;
  text-decoration: none;
}

#link:hover {
  color: #FFC300;
}

.bg {
  background-image: url('./assets/88.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 80vh;
}

.bg h1 {
  font-family: 'Anton', sans-serif;
  color: #01afc3;
}

.title {
  font-size: 4em;
  padding: 2em 1.5em;
  letter-spacing: 1rem;
}

.discover {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-decoration: none !important;
  color: #fff !important;
}